$bg-color-dark: #2b2b2b;
$bg-color-light: #ececec;
$text-color-dark: #dddddd;
$text-color-light: #2b2b2b;
$accent-1-color: #f10082;
$accent-2-color: #9700de;
$primary-color: #dddddd;
$secondary-color: #b5b5b5;
