@import '@/styles/variables';
[data-theme='dark'] {
  .textarea {
    background-color: $bg-color-dark;
    color: $text-color-dark;
  }
}
.textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  width: 100%;
  padding: 0.7rem 0.6rem;
  margin-bottom: 1rem;
  background-color: $bg-color-light;
  color: $text-color-light;
  outline: none;
  resize: none;
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: $accent-1-color;
  }
}
