@import '../styles/variables';

.button {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.8rem 0.8rem;
  background-image: linear-gradient(to right, $accent-1-color, $accent-2-color);
  color: $text-color-dark;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &.fullbutton {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 10px 2px #f700ff7c;
  }

  &:active {
    transform: scale(0.98);
  }

  @media screen and (max-width: 768px) {
    padding: 0.6rem 0.6rem;
  }
}
