@import '../styles/variables';

[data-theme='dark'] {
  .input {
    background-color: $bg-color-dark;
    color: $text-color-dark;
  }
  .counter {
    color: $text-color-dark;
  }
}

.input {
  font-size: 1rem;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  width: 100%;
  padding: 0.7rem 0.6rem;
  margin-bottom: 1rem;
  background-color: $bg-color-light;
  color: $text-color-light;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: $accent-1-color;
  }
}

.counter {
  font-size: 0.8rem;
  color: $text-color-light;
  text-align: right;
  margin-bottom: 0.4rem;
}
