@import '../styles/variables';
.container {
  margin: 2rem 0;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.divider {
  margin-top: 1.5rem;
  border: none;
  border-bottom: 1px solid $secondary-color;
}
