@import '../styles/variables';

.container {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.toggle {
  display: flex;
  justify-content: center;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    --slider-size: 1.8rem;
    --slider-padding: 0.25rem;
    position: relative;
    display: inline-block;
    width: calc(var(--slider-size) * 2 + var(--slider-padding));
    height: var(--slider-size);
    background-image: linear-gradient(
      to bottom right,
      $primary-color,
      $secondary-color
    );
    border-radius: 34px;
    transition: 0.4s;

    @media screen and (max-width: 768px) {
      --slider-size: 1.4rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: var(--slider-padding);
      left: var(--slider-padding);
      width: calc(var(--slider-size) - var(--slider-padding) * 2);
      height: calc(var(--slider-size) - var(--slider-padding) * 2);
      background-color: $primary-color;
      border-radius: 50%;
      transition: 0.4s;
    }
  }

  input:checked + .slider {
    background-image: linear-gradient(
      to bottom right,
      $accent-1-color,
      $accent-2-color
    );
    &::before {
      transform: translateX(calc(var(--slider-size) + var(--slider-padding)));
    }
  }
}

.theme_icon {
  font-size: 1.4rem;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}
